.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.register input {
  padding: 10px;
  font-size: 16px;
}

.register label {
  margin: 10px 0px;
}

.login {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login input {
  padding: 10px;
  font-size: 16px;
}

.login label {
  margin: 10px 0px;
}

.btn {
  padding: 10px 0px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.hide {
  position: absolute;
  left: -9999px;
}

.show {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
}

.show>svg {
  margin-right: 0.25rem;
}



.check {
  color: green;
  margin-left: 0.25rem;

}

.time {
  color: red;
  margin-left: 0.25rem;

}

.log {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}